{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% translate "History" %}</a>
    </li>
    <li>
        <a href="{% url 'release_tracker:admin_pull' original.pk %}">Pull from Heroku</a>
    </li>
    {% if original.commit %}
    <li>
        <a href="{% url 'release_tracker:admin_push' original.pk %}">Push to Github</a>
    </li>
    <li>
        <a href="{% url 'release_tracker:admin_release_notes' original.pk %}">Update release notes</a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'release_tracker:admin_sync' original.pk %}">Sync</a>
    </li>
{% endblock %}
